body{
    background-color: #474343;
}

h1{
    align-items: center;
    justify-content: center;
    color: #35f8f8;
    display: flex;
}
p{
    color: #f0ffff;
}

#two{
   align-items: center;
    justify-content: center;
    color: #ece92b;
    display: flex; 
}

#imagetwo{
     align-items: center;
    justify-content: center;
    display: flex;
}
 img{
    width: 300px;
    height: 300px;
    margin: 3px 3px;
    border-radius: 7px;
    
    
}